- if current_user
  .col-container.fill-h.marg-l.white.rd.sdw.pad-sm.split
    #cur_list.file-container.fill-h
      = render template: 'containers/show'
    #cur_recipe.fill-h
- else
  .centered.col-5.tp-marg-xl.pad-med.l-gray.rd.sdw
    = render partial: 'shared/login_form'
