// Bitters 1.1.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

// Import Aileron font from assets
@include font-face("Aileron", font-url('Aileron-Thin'), 100);
@include font-face("Aileron", font-url('Aileron-ThinItalic'), 100, italic);
@include font-face("Aileron", font-url('Aileron-Light'), 300);
@include font-face("Aileron", font-url('Aileron-LightItalic'), 300, italic);
@include font-face("Aileron", font-url('Aileron-Regular'), 400);
@include font-face("Aileron", font-url('Aileron-Italic'), 400, italic);
@include font-face("Aileron", font-url('Aileron-SemiBold'), 500);
@include font-face("Aileron", font-url('Aileron-SemiBoldItalic'), 500, italic);
@include font-face("Aileron", font-url('Aileron-Bold'), 700);
@include font-face("Aileron", font-url('Aileron-BoldItalic'), 700, italic);


@import "variables";
@import "utilities";
@import "grid-settings";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";


body {
  margin: 0;
  padding: 0;
  background: image-url('back.jpg') no-repeat center center;
  background-size: cover;

  &#login {
    @include linear-gradient($blue, $green);
  }
}
