// Typography
$base-font-family: 'Aileron', serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$footer-size: 50px;

// Colors
$green: #C2ECCD;
$medium-green: #53A068;
$dark-green: #396D47;

$red: #FF6F62;
$blue: #7383AD;

$dark-gray: #333333;
$medium-gray: #D3D7D7;
$light-gray: #e3e7e8;
$white: #FFF;
$black: #000;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Maps
$colors: (
  'green': $green, 'm-green': $medium-green, 'd-green': $dark-green,'red': $red,
  'd-gray': $dark-gray, 'm-gray': $medium-gray, 'l-gray': $light-gray,
  'blue': $blue, 'white': $white, 'black': $black
);
$directions: (
  'tp': 'top', 'rt': 'right', 'btm': 'bottom', 'lt': 'left'
);
$sizes: (
  'xl': 100px, 'lg': 50px, 'med': 25px, 'sm': 10px, 'xs': 5px
);
