.col-container
  -# #logo-container
  -#   #logo{class: ('large' if @large_logo)}
  -#     = link_to home_path do
  -#       = image_tag 'icon.svg'
  #controls
    - if current_user
      = link_to 'log out', logout_path, class: 'pill bor-white right'
