- if current_user
  .col-container.marg-l.white.rd.sdw.pad-sm.single-pane{ng: ng_exp(controller: "BrowserCtrl")}
    #cur_list.file-container.fill-h.col-4
      .actions
        %ul
          %li#new_dir.action= 'New Folder'
          %li#new_rec.action{ng: ng_exp(click: 'newRecipe()')}= 'New Recipe'
      %div{view('list')}
    #cur_recipe.fill-h.col-8
      %div{view('preview')}
  :javascript
    recipes.value("container", '#{render partial: 'containers/container.json.jbuilder', locals: {container: @container}}');
