%ul.file
  - ['Pork loin roast', 'Blueberry pancakes', 'Fried chicken',
    'Stuffed roast pablano peppers', 'Slow cooker bolognese',
    'Pineapple cornbread', 'Banana cream pie', 'Loaded baked potato'].each do |recipe|
    %li.pad-xs.t-black= recipe
