// Grid containers and items
.col-container {
  @include outer-container($max-width);
}

.row {
   @include row();
 }

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include span-columns($i);
    @for $j from 1 through $grid-columns {
      .col-#{$j} {
        @include span-columns($j of $i);
      }
    }
  }
}

// Direction
.left {float: left;}
.right {float: right;}
.centered {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Text align
.t-centered {text-align: center;}
.t-left {text-align: left;}
.t-right {text-align: right;}

// Margin and padding
@each $size_class, $size_val in $sizes {
  .pad-#{$size_class} {padding: $size_val;}
  .marg-#{$size_class} {margin: $size_val;}

  .vert-pad-#{$size_class} {padding-top: $size_val; padding-bottom: $size_val;}
  .vert-marg-#{$size_class} {margin-top: $size_val; margin-bottom: $size_val;}

  .hor-pad-#{$size_class} {padding-left: $size_val; padding-right: $size_val;}
  .hor-marg-#{$size_class} {margin-left: $size_val; margin-right: $size_val;}

  @each $dir_class, $dir_atr in $directions {
    .#{$dir_class}-pad-#{$size_class} {
      padding-#{$dir_atr}: $size_val;
    }
    .#{$dir_class}-marg-#{$size_class} {
      margin-#{$dir_atr}: $size_val;
    }
  }
}

.fill-h {height: 100%;}
.fill-w {height: 100%;}

// Elements
.pill {
  @include padding(null 20px null 20px);
  border-radius: 25px;
}

.single-pane {
  height: calc(100% - 50px);
}
