header {
  @include outer-container(100%);
  background: $blue;

  #logo {
    @include span-columns(2);
    padding: 10px 0;
    .img {height: 40px;}
  }
  #navigation {
  }
  #controls {
    @include shift(8);
    @include span-columns(2);
    padding-top: 20px;
    a {
      margin-right: 10px;
      color: white;
    }
  }
}

@include sticky-footer(50px, "#main", "#main_footer", "footer")
